<html>
  <head>
  </head>
  <body>
    <form>
      <input type='text' id='message' autofocus></input>
      <input type="submit" value="Send" id="send-message">
    </form>

    <ul id='messages'></ul>

    <script>
      var eventSource = new EventSource('sse');
      eventSource.addEventListener('chat', function(event) {
        var li = document.createElement('li');
        document.getElementById('messages').appendChild(li)
        li.innerHTML = '<li>' + event.data + '</li>'
      })

      document.getElementById('send-message').addEventListener('click', function(e){
        e.preventDefault();
        if (!message.value) return;
        var request = new XMLHttpRequest();
        request.open('POST', '/messages', true);
        request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
        request.send('message=' + message.value);
        document.getElementById('message').value = '';
      });

    </script>
  </body>
</html>
